main {
    height: 100vh;
    font-family: 'Ubuntu';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCFCFC;
}

.LoginPage form {
    border: solid 1px rgba(28, 28, 28, 0.3);
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    box-shadow: 1px 1px 20px #1C1C1C;
    border-radius: 3px;
}

.LoginPage form input {
    padding: 5px;
    font-size: 20px;
    border: solid 1px #1C1C1C;
    border-radius: 2px;
}

.LoginPage form label {
    margin-top: 20px;
    margin-bottom: 5px;
}

form input:focus {
    outline: none;
    border-color: rgb(50, 50, 138);
    box-shadow: none;
}

.formTitle {
    font-size: 25px;
    font-weight: bold;
    color: rgb(50, 50, 138);
}

.submitBTN {
    margin-top: 40px;
    background-color: rgb(50, 50, 138);
    color: #FCFCFC;
    border: none;
    transition: 0.3s;
}

.submitBTN:hover {
    background-color: rgba(50, 50, 138, 0.7);
    transition: 0.3s;
    cursor: pointer;
}