.MapPage .sideBox {
    transition: 0.3s;
    border: solid 1px rgba(28, 28, 28, 0.3);
    padding: 20px;
    height: 100%;
    width: 300px;
    border-radius: 3px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FCFCFC;
}

.MapPage .resultsBox {
    height: 70%;
    overflow: auto;
}

.MapPage {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.MapPage .mapBox {
    width: 70%;
    text-align: center;
    background-color: beige;
    overflow: hidden;
    height: 100%;
}

.MapPage .selectTimeBox {
    display: flex;
    justify-content: center;
    font-size: 27px;
}

.MapPage .selectTimeBox input {
    padding: 5px;
    border: solid 1px #1C1C1C;
    border-radius: 2px;
}

.MapPage .selectTimeBox div {
    width: 40px;
    text-align: center;
    margin: 0px 10px;
    border-radius: 1px;
}

.MapPage .selectTimeBox div:hover {
    background-color: rgb(50, 50, 138);
    color: #FCFCFC;
    cursor: pointer;
    transition: 0.3s;
}

.MapPage .timeInterval {
    text-align: center;
    margin-top: 10px;
}

.MapPage .sensorName {
    color: rgb(50, 50, 138);
    font-size: 20px;
    font-weight: bold;
}

.MapPage .timeInterval {
    padding: 5px;
    border-radius: 2px;
}

.MapPage .timeInterval:hover {
    background-color: rgb(50, 50, 138);
    color: #FCFCFC;
    cursor: pointer;
    transition: 0.3s;
}

.MapPage input:focus {
    outline: none;
    border-color: rgb(50, 50, 138);
    box-shadow: none;
}

.MapPage input {
    padding: 5px;
    border: solid 1px #1C1C1C;
    border-radius: 2px;
}

.MapPage .intervalBox {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
}

.MapPage .intervalBox div {
    text-align: right;
}

.MapPage .closeBTN {
    transition: 0.3s;
    position: fixed;
    top: -50px;
    left: calc(85% - 40px);
    border-radius: 5px;
    font-weight: bold;
}

.MapPage .mapSidebar {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    border-radius: 4px;
    max-width: 500px;
}  

.MapPage .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.MapPage .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.MapPage .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.MapPage .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 600px) {
    .MapPage .sideBox {
        display: none;
    }
    .MapPage .sideBox.visibleOnMobile {
        display: flex;
        transition: 0.3s;
        border: solid 1px rgba(28, 28, 28, 0.3);
        height: 90%;
        width: 70%;
        box-shadow: 1px 1px 20px #1C1C1C;
        position: fixed;
    }
    .MapPage .selectTimeBox {
        font-size: 18px;
    }
    .MapPage .sensorName {
        font-size: 18px;
    }
    .MapPage .intervalBox {
        font-size: 15px;
    }
    .MapPage .timeInterval {
        font-size: 15px;
    }
    .MapPage .sideBox.visibleOnMobile .closeBTN {
        display: block;
        position: fixed;
        transition: 0.3s;
        top: calc(5% - 10px);
        padding: 10px 20px;
    }
    .MapPage .closeBTN {
        display: none;
    }
    .MapPage .closeBTN:hover {
        background-color: rgba(28, 28, 28, 0.3);
    }
    .MapPage .mapBox {
        width: 100%;
    }
}